	<div id="fullscreen_bg" class="fullscreen_bg"/>
<ul class="nav navbar-nav navbar-right">
<% if user_signed_in? %>
<li><%= link_to "Read in color", new_website_path %></li>
<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<% else %>
<li><%= link_to "Register", new_user_registration_path %></li>
<li><%= link_to "Login", new_user_session_path %></li>
<% end %>
</ul>

	<%= form_for @website do |f| -%>
		URL:<%= f.text_field :url %>
		<%= f.submit %>
	<% end -%>

	Read sites: <br />
	<% if !@websites.blank? %>
		<% for item in @websites %>
			<%= item.url %><br />
		<% end %>

	<% else %>

	<% end %>
	
